
.icon-phone-circled:before { content: '\e800'; } /* '' */
.icon-mail-circled:before { content: '\e801'; } /* '' */
.icon-home-circled:before { content: '\e802'; } /* '' */
.icon-calendar-circled:before { content: '\e803'; } /* '' */
.icon-pencil-circled:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-calendar-2:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-mail-1:before { content: '\e808'; } /* '' */
.icon-briefcase:before { content: '\e809'; } /* '' */
.icon-briefcase-1:before { content: '\e80a'; } /* '' */
.icon-globe:before { content: '\e80b'; } /* '' */
.icon-globe-1:before { content: '\e80c'; } /* '' */
.icon-graduation-cap-1:before { content: '\e80d'; } /* '' */
.icon-book:before { content: '\e80e'; } /* '' */
.icon-book-open:before { content: '\e80f'; } /* '' */
.icon-award:before { content: '\e810'; } /* '' */
.icon-award-1:before { content: '\e811'; } /* '' */
.icon-doc-circled:before { content: '\e812'; } /* '' */
.icon-award-2:before { content: '\e813'; } /* '' */
.icon-group-circled:before { content: '\e814'; } /* '' */
.icon-edit-circled:before { content: '\e815'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-linkedin-circled:before { content: '\f05b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-calendar-1:before { content: '\f4c5'; } /* '' */