@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Cormorant+Unicase|Fenix|Lato|Montserrat:400,500,600,700,800,900|Odibee+Sans|Offside|Open+Sans:800|Stylish&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-family: 'Calibri','Montserrat', sans-serif; */

}
@page {
    size: A4;
    margin: 0;
  }
  @media print {
    html, body {
      width: 210mm;
      height: 297mm;
    }
    /* ... the rest of the rules ... */
  }

  .wrapper {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', serif;
    color: #16313f;
    
  }

  .topbar {
    height: 100px;
    width: 100%;
    border-top: 30px solid #16313f;
  }

  .topbar_left {
    width: 60%;
    height: 100px;
    float: left;
    /* border: 1px solid black; */

  }

  .topbar_right {
    float: right;
    width: 39%;
    height: 100px;
    /* border: 1px solid black; */
  }

  .name {
    font-family: 'Montserrat';
    margin-left: 30px;
    margin-top: 20px;
    font-size: 2em;
    
    line-height: 0.8em;
    
    
  }

  .first_name {
    font-weight: 900;
  }

  .last_name {
    font-weight: 500;
  }

  .current_position {
    font-size: 0.6em;
  }

  .topbar_right {
    text-align: right;
  }

  .contact_details {
    margin-top: 10px;
    margin-right: 8px;
    
  }

  .left_color_box {
    /* float: left; */
    width: 30%;
    background-color: #16313f;
    color: white;
    /* height: 991px; */
    height: 100%;
    position: absolute;
    z-index: -10;
  }

  .experience_and_education {
    box-sizing: border-box;
    
    
    width: 100%;
    /* float: right; */
    z-index: 2;
  }

  .data_box {
    width: 100%;
  }

  .label {
    box-sizing: border-box;
    width: 30%;
    /* height: 991px; */
    text-align: right;
    float: left;
    color: #EDBB00;
    padding: 5px;
    padding-right: 10px;
    
    font-weight: bold;
    font-size: 0.8em;
  }

  .data {
    box-sizing: border-box;
    padding: 3px;
    float: left;
    margin-left: 5px;

    width: 67%;
    border-top: 1px solid #EDBB00;
  }

  .company_name_and_position {
    width: 60%;
    float: left;
    
  }
  
  .company_or_institution {
    font-weight: bold;
  }

  .position_or_specialisation {
    font-size: 0.9em;
    font-style: italic;
  }

  .experience_or_education_duration {
    float: right;
    width: 40%;
    text-align: right;
    font-size: 0.9em;
  }

  .experience_or_education_description {
    list-style-position: inside;
    text-align: justify;
    font-size: 0.9em;
    margin-left: 20px;
  }

  .skill_and_rating {
    box-sizing: border-box;
    width: 50%;
   
    font-size: 0.9em;
    
    
    
  }

  .skill {
    width: 50%;
    
  }

  .rating {
    width: 50%;
    text-align: right;
    float: right;
    padding-right: 3px;
    
  }
