{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% load static %}

{% block content %}
    <h1>Welcome to Resume Builder</h1>

    <form action="." method="post">
        {{ personal_info_form|crispy }}

            {{ experience_formset|crispy }}
            {{ experience_formset.media }}
            
            {{ education_formset|crispy }}
            {{ education_formset.media }}

            {{ skill_formset|crispy }}

            {{ license_formset|crispy }}

            {{ clause_form|crispy }}
            {{ clause_form.media }}

        {% csrf_token %}
        <input type="submit" value="dodaj">
        
    </form>
{% endblock %}
