{% load static %}
<html>
    <head>
            <style>
                
            </style>


            <link rel="stylesheet" type="text/css" href="{% static 'tempresume/pdf.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'tempresume/fontello/css/fontello.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <div class="topbar">
                <div class="topbar_left">
                    <div class="name">
                        <span class="first_name">{{ first_name|upper }}</span> <span class="last_name">{{ last_name|upper }}</span><br>
                        <span class="current_position">{{ current_position|title }}</span>
                        
                    </div>
                
                </div>
                <div class="topbar_right">
                    <div class="contact_details">
                        <div>{{ mobile }} <i  class="icon-phone-circled"></i></div>
                        <div>{{ email }} <i class="icon-mail-circled"></i></div>
                        <div>{{ address }} <i class="icon-home-circled"></i></div>
                        <div>{{ postal_code }} {{ city }} <i style="color: white" class="icon-home-circled"></i></div>
                    </div>
                    
                   
                </div>
                <div style="clear: both"></div>
                
            </div>
            <div class="personal_info_and_skills">
                
            </div>
            <h1>Hello world</h1>

                <p>{{ first_name }}</p>
                <p>{{ last_name }}</p>
                <p>{{ date_of_birth }}</p>

                <p>{% for key, values in exp.items  %}
                        <!-- {{ values.company }} -->
                        {% for k, v in values.items %}
                            {{ values.company }}
                            {{ values.start_date }}
                            <!-- {% if v is not None %}
                                {{ k }} {{ v|safe }} -->
                                <br>
                                
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </p>
                <div class="test"></div>
        </div>

    </body>
</html>

