asgiref==3.2.3
beautifulsoup4==4.8.2
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
cssselect2==0.2.2
defusedxml==0.6.0
Django==3.0.14
django-ckeditor==5.9.0
django-crispy-forms==1.8.1
django-js-asset==1.2.2
django-weasyprint==0.5.5
dotobject==1.2.1
html5lib==1.0.1
lxml==4.5.0
Pillow==7.0.0
pkg-resources==0.0.0
pycparser==2.19
Pyphen==0.9.5
pytz==2019.3
redis==3.4.1
six==1.14.0
soupsieve==2.0
sqlparse==0.3.0
tinycss2==1.0.2
WeasyPrint==51
webencodings==0.5.1